<p> Hello!
    <%= @current_admin.username %>
</p>

<%= image_tag @current_admin.image %>

<div class="add-resource">
    <%= link_to 'Add Resource', new_resource_path %>
</div>


<% @current_admin.resources.each do |resource| %>
<div>Title: <%= link_to resource.title, resource %>  </div>
<% end %>