<div class="home-container">
    <div class="direct">
        <%= link_to 'Admin Sign-in', login_path %>
    </div>
    
    
    <div class="direct">
        <%= link_to 'Search', resources_path %>
    </div>
</div>
