<div class="home-container">

    <div class="direct">
        <%= link_to 'Guest', resources_path %>
    </div>

    <div class="direct">
        <%= link_to 'Administrator', login_path %>
    </div>

</div>