body {
    background-color: pink;
    font-family: 'Roboto Condensed', sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

.direct {
    border-radius: 100px;
    border: 2px black solid;
    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    font-size: larger;
    text-decoration: none;
    padding: 10px;
}

.home-container {
    height: 100%;
}

.sign-in-fields {
    padding: 5px;
}

.sign-in-button {
    background-color: white;
    border-radius: 5px;
    font-size: large;
}

.sign-in-container {
    text-align: right;
    font-size: large;
    padding: 20px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
}

.sign-up {
    justify-content: flex-end;
    font-size: larger;
}

.sign-in-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


